[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
flask-migrate = "*"
flask-bootstrap = "*"
flask-mail = "*"
flask = "*"
flask-moment = "*"
flask-login = "*"
flask-wtf = "*"
email-validator = "*"
flask-sqlalchemy = "==3.1.1"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.0"
