{% extends "base.html" %}

{% block title %}GMonster{% endblock %}

{% block page_content %}
<!-- <div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
</div> -->
<!-- Fixed Left Sidebar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark pmd-navbar pmd-z-depth">
    <a href="javascript:void(0);" data-target="basicSidebar" data-placement="left" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pmd-sidebar-toggle"><i class="material-icons md-light">menu</i></a>
    <a class="navbar-brand" href="#">Brand</a>
    
    <!-- Navbar Right icon -->		
    <div class="pmd-navbar-right-icon ml-auto">
        <a href="javascript:void(0);" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect"><i class="material-icons pmd-sm md-light">search</i></a>
    </div>
</nav>
{% endblock %}
