{% extends "base.html" %}{% set active_page='pending_request' %}

{% block title %}GMonster{% endblock %}

{% block page_content %}
<div class="table table-responsive-sm">
    <table id="customers" class="table table-striped table-sm table-bordered">
        <thead>
            <tr>
                <th>Email</th>
                <th>Machine UUID</th>
                <th class="text-center">Processor ID</th>
            </tr>
        </thead>
        <tbody>
            {% for sub in subscribers.items %}
            <tr id="row5">
                <td>{{ sub.email}}</td>

            </tr>

        </tbody>
    </table>
{% endblock %}