{% extends "base.html" %}{% set active_page='pending_request' %}

{% block title %}GMonster-Pending Requests{% endblock %}

{% block page_content %}
<div class="table table-responsive-sm">
    <table id="customers" class="table table-striped table-sm table-bordered">
        <thead>
            <tr>
                <th class="text-center">Email</th>
                <th class="text-center">Machine UUID</th>
                <th class="text-center">Processor ID</th>
            </tr>
        </thead>
        <tbody>
            {% for sub in subscribers.items %}
            <tr id="row5">
                <td class="text-center">{{ sub.email }}</td>
                <td class="text-center">{{ sub.machine_uuid }}</td>
                <td class="text-center">{{ sub.processor_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if subscribers.has_prev %}<a href="{{ url_for('main.pending_request', page=subscribers.prev_num) }}">&lt;&lt; Prev</a>{% endif %}
    {% if page>=2 %}<a href="{{ url_for('main.pending_request', page=page) }}">&nbsp;&nbsp;. . .{{ page }}. . .&nbsp;&nbsp;</a>{% endif %}
    {% if subscribers.has_next %}<a href="{{ url_for('main.pending_request', page=subscribers.next_num) }}">Next &gt;&gt;</a>{% endif %}
</div>
{% endblock %}