{% extends "base.html" %}{% set active_page='pending_request' %}

{% block title %}GMonster-Pending Requests{% endblock %}

{% block page_content %}
<div class="table table-responsive-sm">
    <table id="customers" class="table table-striped table-sm table-bordered">
        <thead>
            <tr>
                <th class="text-center">Email</th>
                <th class="text-center">Machine UUID</th>
                <th class="text-center">Processor ID</th>
                <th class="text-center">Activate</th>
            </tr>
        </thead>
        <tbody>
            {% for sub in subscribers.items %}
            <tr id="row5">
                <td class="text-center">{{ sub.email }}</td>
                <td class="text-center">{{ sub.machine_uuid }}</td>
                <td class="text-center">{{ sub.processor_id }}</td>
                <td class="text-center">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#activation_window">
                    Activate
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if subscribers.has_prev %}<a href="{{ url_for('main.pending_request', page=subscribers.prev_num) }}">&lt;&lt; Prev</a>{% endif %}
    {% if page>=2 %}<a href="{{ url_for('main.pending_request', page=page) }}">&nbsp;&nbsp;{{ page }}&nbsp;&nbsp;</a>{% endif %}
    {% if subscribers.has_next %}<a href="{{ url_for('main.pending_request', page=subscribers.next_num) }}">Next &gt;&gt;</a>{% endif %}
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            ...
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
    </div>
</div>
{% endblock %}