{% extends "base.html" %}{% set active_page='active_user' %}

{% block title %}GMonster{% endblock %}

{% block page_content %}
<div class="table table-responsive-sm">
    <table id="active_users" class="table table-striped table-sm table-bordered">
        <thead>
            <tr>
                <th class="text-center">Email</th>
                <th class="text-center">Machine UUID</th>
                <th class="text-center">Processor ID</th>
                <th class="text-center">Last Login Time</th>
                <th class="text-center">Subscription<br>End Date</th>
                <th class="text-center">Deactivate</th>
                <th class="text-center">Subscription</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    
</div>
<div class="modal fade" id="subscription_window" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Select a Date</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Subscription</span>
                </div>
                <input id="end_date" type="date" class="form-control" placeholder="select a date" aria-label="Date" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="modal-footer">
            <button id="subscription_confirm" type="button" data-id="" onclick="change(this)" class="btn btn-primary">OK</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
    </div>
    </div>
</div>
<div class="modal fade" id="deactivation_window" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body mx-auto">
            <h4>Are you sure?</h4>
        </div>
        <div class="modal-footer mx-auto">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <a id="deactivate_confirm" class="btn btn-danger btn-ok" type="button" data-id="" onclick="deactivate_user(this)">Deactivate</a>
        </div>
    </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    var datepicker = document.getElementById('end_date');

    var today=new Date();
    today.setDate(today.getDate()+1);
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();
    today = yyyy + '-' + mm + '-' + dd;
    datepicker.setAttribute("min", today);

    function change_modal(e){
        if (e.dataset.type==='deactivate'){
            document.getElementById('deactivate_confirm').dataset.id = e.dataset.id
        }
        else {
            document.getElementById('subscription_confirm').dataset.id = e.dataset.id
            document.getElementById('end_date').value = e.dataset.date
        }
    };

    function change(e){
        //alert(e.dataset.id, datepicker.value)
        var datepicker = document.getElementById('end_date');
        const request = new XMLHttpRequest();
        request.open('POST', '/change_subscription/' + datepicker.value + '/' + e.dataset.id, true);
        //request.setRequestHeader("Content-Type", "application/json");
        request.onload = () => {

            // Extract JSON data from request
            const data = JSON.parse(request.responseText);
            console.log(data.message)
            alert(data.message)
            if (request.status===200){
                window.location.reload(false);
            }
        }


        // Send request
        request.send();
    };

    function deactivate_user(e){

        const request = new XMLHttpRequest();
        request.open('POST', '/deactivate_user/' + e.dataset.id, true);
        //request.setRequestHeader("Content-Type", "application/json");
        request.onload = () => {

            // Extract JSON data from request
            const data = JSON.parse(request.responseText);
            console.log(data.message)
            alert(data.message)
            if (request.status===200){
                window.location.reload(false);
            }
        }


        // Send request
        request.send();
    };


    function toObject(arr) {
        var rv = [];
        for (var i = 0; i < arr.length; ++i)
            rv[i] = arr[i];
        return rv;
    }

    document.addEventListener("DOMContentLoaded", function (event) {
        const request = new XMLHttpRequest();
        request.open('GET', '/active_users', true);
        // request.setRequestHeader("Content-Type", "application/json");
        request.onload = () => {

            // Extract JSON data from request
            const data = JSON.parse(request.responseText);

            if (request.status===200){
                t_data = toObject(data['data'])
                console.log(t_data)
                $.fn.dataTable.ext.errMode = 'none';
                $('#active_users').DataTable(
                    {
                        data: t_data,
                        columns: [
                            { 
                                data: 'email',
                                searchable: true
                            },
                            { 
                                data: 'machine_uuid' ,
                                searchable: false
                            },
                            { 
                                data: 'processor_id',
                                searchable: false
                            },
                            { 
                                data: 'last_sign_in',
                                searchable: false
                            },
                            { 
                                data: 'end_date',
                                searchable: false
                            },
                            { 
                                data: 'deactivate',
                                searchable: false,
                                render: function ( data, type, row ) {
                                    return `<button id="${data.id }" onclick="change_modal(this)" data-type="deactivate" 
                                        type="button" class="btn btn-warning deactivate" data-id="${data.id }" 
                                        data-toggle="modal" data-target="#deactivation_window">
                                            Deactivate
                                        </button>`
                                }
                            },
                            { 
                                data: 'deactivate' ,
                                searchable: false,
                                render: function ( data, type, row ) {
                                    return `<a id="${data.id}" onclick="change_modal(this)" data-type="subscription" 
                                        type="button" class="btn btn-link btn-primary subscription" data-id="${data.id }" 
                                        data-toggle="modal" data-date="${data.end_date}" data-target="#subscription_window">
                                    Change
                                    </a>`
                                }
                            }
                        ],
                        columnDefs: [
                            {
                                targets: 0,
                                className: 'dt-body-center'
                            },
                            {
                                targets: 1,
                                className: 'dt-body-center'
                            },
                            {
                                targets: 2,
                                className: 'dt-body-center'
                            },
                            {
                                targets: 3,
                                className: 'dt-body-center'
                            },
                            {
                                targets: 4,
                                className: 'dt-body-center'
                            },
                            {
                                targets: 5,
                                sorting: false,
                                className: 'dt-body-center'
                            },
                            {
                                targets: 6,
                                sorting: false,
                                className: 'dt-body-center'
                            }
                        ]
                    }
                ); 
            }
        }


        // Send request
        request.send();

    });

</script>
{% endblock %}