{% extends "base.html" %}{% set active_page='pending_request' %}

{% block title %}GMonster-All Users{% endblock %}

{% block page_content %}
<div class="container-fluid mx-2 my-1">
    <h4 class="text-center">GMonster</h4>
    <form id="upload_form" class="col-md-12 mx-auto my-2">
        <div class="form-row my-1">
            <div class="col-md-2 form-group">
                <label for="name_input">Version</label>
                <input id="name_input" type="text" placeholder="Enter Name" class="form-control">
            </div>
            <div class="col-md-6 form-group">
                <label for="link_input">Link</label>
                <input id="link_input" type="text" placeholder="Enter Link" class="form-control">
            </div>
            <div class="col-md-2 form-group">
                <label for="size_input">Size</label>
                <input id="size_input" type="number" placeholder="Enter Size" class="form-control">
            </div>
            <div class="col-md-2 form-group">
                <label for="download">Download</label>
                <span id="download" class="form-control">
                </span>
            </div>
        </div>
        <div class="form-row my-1">
            <div class="col-md-12 form-group">
                <button id="update" type="button" class="btn btn-primary float-right">Update</button>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid mx-2 my-1">
    <h4 class="text-center">WUM</h4>
    <form id="wum_upload_form" class="col-md-12 mx-auto my-2">
        <div class="form-row my-1">
            <div class="col-md-2 form-group">
                <label for="wum_name_input">Version</label>
                <input id="wum_name_input" type="text" placeholder="Enter Name" class="form-control">
            </div>
            <div class="col-md-6 form-group">
                <label for="wum_link_input">Link</label>
                <input id="wum_link_input" type="text" placeholder="Enter Link" class="form-control">
            </div>
            <div class="col-md-2 form-group">
                <label for="wum_size_input">Size</label>
                <input id="wum_size_input" type="number" placeholder="Enter Size" class="form-control">
                <!-- <div class="input-group-append"> -->
                    <!-- <span class="input-group-text" id="basic-addon2">kb</span> -->
                <!-- </div> -->
            </div>
            <div class="col-md-2 form-group">
                <label for="wum_download">Download</label>
                <span id="wum_download" class="form-control">
                </span>
            </div>
        </div>
        <div class="form-row my-1">
            <div class="col-md-12 form-group">
                <button id="wum_update" type="button" class="btn btn-primary float-right">Update</button>
            </div>
        </div>
    </form>
</div>
<div class="table table-responsive-sm">
    <table id="customers" class="table table-striped table-sm table-bordered">
        <thead>
            <tr>
                <th class="text-center">Email</th>
                <th class="text-center">Machine UUID</th>
                <th class="text-center">Processor ID</th>
                <th class="text-center">Activate</th>
                <th class="text-center">Delete</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="modal fade" id="activation_window" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Select a Date</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Subscription</span>
                </div>
                <input id="end_date" type="date" class="form-control" placeholder="select a date" aria-label="Date" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="modal-footer">
            <button id="activate_confirm" type="button" data-id="" onclick="activate(this)" class="btn btn-primary">OK</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
    </div>
    </div>
</div>
<div class="modal fade" id="delete_window" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <!-- <div class="modal-header">
            <h5 class="modal-title mx-auto" id="exampleModalLabel">Are you sure?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div> -->
        <div class="modal-body mx-auto">
            <h4>Are you sure?</h4>
        </div>
        <div class="modal-footer mx-auto">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <a id="delete_confirm" class="btn btn-danger btn-ok" type="button" data-id="" onclick="delete_user(this)">Delete</a>
        </div>
    </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    var datepicker = document.getElementById('end_date');

    var today=new Date();
    today.setDate(today.getDate()+1);
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();
    today = yyyy + '-' + mm + '-' + dd;
    datepicker.setAttribute("min", today);

    var today=new Date();
    today.setDate(today.getDate()+30);
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();
    today = yyyy + '-' + mm + '-' + dd;
    datepicker.value = today

    function change_modal(e){
        if (e.dataset.type==='activate'){
            document.getElementById('activate_confirm').dataset.id = e.dataset.id
        }
        else {
            document.getElementById('delete_confirm').dataset.id = e.dataset.id
        }
    };

    function activate(e){
        //alert(e.dataset.id, datepicker.value)
        const request = new XMLHttpRequest();
        request.open('POST', '/activate_user/' + datepicker.value + '/' + e.dataset.id, true);
        //request.setRequestHeader("Content-Type", "application/json");
        request.onload = () => {

            // Extract JSON data from request
            const data = JSON.parse(request.responseText);
            console.log(data.message)
            alert(data.message)
            if (request.status===200){
                window.location.reload(false);
            }
        }


        // Send request
        request.send();
    };

    function delete_user(e){
        //alert(e.dataset.id, datepicker.value)
        var datepicker = document.getElementById('end_date');
        const request = new XMLHttpRequest();
        request.open('DELETE', '/delete_user/' + e.dataset.id, true);
        //request.setRequestHeader("Content-Type", "application/json");
        request.onload = () => {

            // Extract JSON data from request
            const data = JSON.parse(request.responseText);
            // console.log(data.message)
            alert(data.message)
            if (request.status===200){
                window.location.reload(false);
            }
        }


        // Send request
        request.send();
    };

    document.getElementById("update").addEventListener("click", function (event) {
        name = document.getElementById("name_input").value;
        link = document.getElementById("link_input").value;
        size = document.getElementById("size_input").value;
        criteria = {
            "name": name,
            "link": link,
            "size": size
        }
        // console.log(criteria)
        const request_update = new XMLHttpRequest();
        request_update.open('PUT', '/verify/version', true);
        request_update.setRequestHeader("Content-Type", "application/json");
        request_update.onload = () => {

            // Extract JSON data from request
            const data = JSON.parse(request_update.responseText);
            // console.log(data)
            if (request_update.status===200){
                alert(data.status)
                window.location.reload(false);
            }
        }


        // Send request
        request_update.send(JSON.stringify(criteria));
    });

    document.addEventListener("DOMContentLoaded", function (event) {
        const request = new XMLHttpRequest();
        request.open('GET', '/verify/version', true);
        // request.setRequestHeader("Content-Type", "application/json");
        request.onload = () => {

            // Extract JSON data from request
            const data = JSON.parse(request.responseText);
            // console.log(data)
            if (request.status===200){
                // window.location.reload(false);
                if (data.exists==true){
                    document.getElementById("name_input").value = data.name;
                    document.getElementById("link_input").value = data.link;
                    document.getElementById("size_input").value = data.size;
                    document.getElementById("download").innerText = data.download;
                }
            }
        }


        // Send request
        request.send();

    });

    //wum_version

    document.getElementById("wum_update").addEventListener("click", function (event) {
        name = document.getElementById("wum_name_input").value;
        link = document.getElementById("wum_link_input").value;
        size = document.getElementById("wum_size_input").value;
        criteria = {
            "name": name,
            "link": link,
            "size": size
        }
        // console.log(criteria)
        const request_update = new XMLHttpRequest();
        request_update.open('PUT', '/verify/wum_version', true);
        request_update.setRequestHeader("Content-Type", "application/json");
        request_update.onload = () => {

            // Extract JSON data from request
            const data = JSON.parse(request_update.responseText);
            console.log(data)
            if (request_update.status===200){
                alert(data.status)
                window.location.reload(false);
            }
        }


        // Send request
        request_update.send(JSON.stringify(criteria));
    });
    
    document.addEventListener("DOMContentLoaded", function (event) {
        const request = new XMLHttpRequest();
        request.open('GET', '/verify/wum_version', true);
        // request.setRequestHeader("Content-Type", "application/json");
        request.onload = () => {

            // Extract JSON data from request
            const data = JSON.parse(request.responseText);
            // console.log(data)
            if (request.status===200){
                // window.location.reload(false);
                if (data.exists==true){
                    document.getElementById("wum_name_input").value = data.name;
                    document.getElementById("wum_link_input").value = data.link;
                    document.getElementById("wum_size_input").value = data.size;
                    document.getElementById("wum_download").innerText = data.download;
                }
            }
        }


        // Send request
        request.send();

    });

    function toObject(arr) {
        var rv = [];
        for (var i = 0; i < arr.length; ++i)
            rv[i] = arr[i];
        return rv;
    }

    document.addEventListener("DOMContentLoaded", function (event) {
        const request = new XMLHttpRequest();
        request.open('GET', '/pending_request/all-users', true);
        // request.setRequestHeader("Content-Type", "application/json");
        request.onload = () => {

            // Extract JSON data from request
            const data = JSON.parse(request.responseText);

            if (request.status===200){
                t_data = toObject(data['data'])
                console.log(t_data)
                $.fn.dataTable.ext.errMode = 'none';
                $('#customers').DataTable(
                    {
                        data: t_data,
                        columns: [
                            { 
                                data: 'email',
                                searchable: true
                            },
                            { 
                                data: 'machine_uuid' ,
                                searchable: false
                            },
                            { 
                                data: 'processor_id',
                                searchable: false
                            },
                            { 
                                data: 'active',
                                searchable: false,
                                render: function ( data, type, row ) {
                                    if ( data.active === false ) {
                                        return `<button id="${data.id}" onclick="change_modal(this)" data-type="activate" type="button" class="btn btn-primary activate" data-toggle="modal" data-target="#activation_window" data-id="${data.id}">Activate</button>`
                                    } else {
                                        return
                                    }     
                                }
                            },
                            { 
                                data: 'delete' ,
                                searchable: false,
                                render: function ( data, type, row ) {
                                    return `<button id="${data.id}" onclick="change_modal(this)" data-type="delete" type="button" class="btn btn-warning delete" data-id="${data.id}" data-toggle="modal" data-target="#delete_window">Delete</button>`
                                }
                            }
                        ],
                        columnDefs: [
                            {
                                targets: 0,
                                className: 'dt-body-center'
                            },
                            {
                                targets: 1,
                                className: 'dt-body-center'
                            },
                            {
                                targets: 2,
                                className: 'dt-body-center'
                            },
                            {
                                targets: 3,
                                className: 'dt-body-center'
                            },
                            {
                                targets: 4,
                                sorting: false,
                                className: 'dt-body-center'
                            }
                        ]
                    }
                ); 
            }
        }


        // Send request
        request.send();

    });

    

</script>
{% endblock %}